@model NameGenMvcApp.Models.UserResponse

@{
    Layout = null;
}

<!DOCTYPE html>


<html>

<head>
    <link href="~/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width" />
    <title>Fantasy Name Generator</title>
</head>

<body >
    <style>
    body{
        background-color: Black;
    }</style>
    <div align="right">
        <font color="gray">
            Copyright 2017 Erik Ring-Walters
        </font>
    </div>
    <center>
        
        <h1><font color="goldenrod"><b>Fantasy Name Generator</b></font></h1>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <p>
                <font color="limegreen">
                    <b>
                        Race:
                    </b>
                    </font>
                    @Html.DropDownListFor(x => x.Race, new[]
{
            new SelectListItem() {Text = "Any",
           Value = "Any"},
           new SelectListItem() {Text = "Human",
           Value = "Human"},
           new SelectListItem() { Text = "Elf",
           Value = "Elf"},
            new SelectListItem() {Text = "Orc",
           Value = "Orc"},
           })
                <font color="indianred">
                    <b>
                    Sex:
                    </b>
                    </font>
                    @Html.DropDownListFor(x => x.Sex, new[]
 {
               new SelectListItem() { Text = "Any",
              Value = "Any" },
           new SelectListItem() {Text = "Male",
           Value = "Male"},
           new SelectListItem() { Text = "Female",
           Value = "Female"}
           })
                @*old button*@
                    @*<b> <input type="submit" value="Generate!" /> </b>*@
                
                @*New Button*@
                <button type="submit" class="btn btn-primary">
                   Generate!</button>
</p>


            <p>
          <!-- testing whitespace. -->
            </p>
            @*@Html.TextBoxFor(model => model.GeneratedName, new { style="width: 30 px;"});*@

            <b> <input type="text" value="@Model.GeneratedName" style="width: 300 px;" /> </b>
        }

        <span>
            @*@Html.ValueFor(x => x.GeneratedName) </br>*@
        </span>
    </center>
  
   
</body>
</html>
