@model NameGenMvcApp.Models.UserResponse

@{
    Layout = null;
}

<!DOCTYPE html>


<html>

<head>
    <link href="~/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width" />
    <title>Fantasy Name Generator</title>
</head>

<body >
    <div align="right">
        <font color="gray">
            Copyright 2017 Erik Ring-Walters
        </font>
    </div>
    <center>
        <div><font color="maroon">Fantasy Name Generator</font></div>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <p>
                Race:
                @Html.DropDownListFor(x => x.Race, new[]
{
            new SelectListItem() {Text = "Any",
           Value = "Any"},
           new SelectListItem() {Text = "Human",
           Value = "Human"},
           new SelectListItem() { Text = "Elf",
           Value = "Elf"},
            new SelectListItem() {Text = "Orc",
           Value = "Orc"},
           })

                Sex:

                @Html.DropDownListFor(x => x.Sex, new[]
 {
               new SelectListItem() { Text = "Any",
              Value = "Any" },
           new SelectListItem() {Text = "Male",
           Value = "Male"},
           new SelectListItem() { Text = "Female",
           Value = "Female"}
           })

                <input type="submit" value="Generate!" />
            </p>


            <p>
          <!-- testing whitespace. -->
            </p>
            @*@Html.TextBoxFor(model => model.GeneratedName, new { style="width: 30 px;"});*@
           
            <input type="text" value="@Model.GeneratedName" style="width: 30 px;"/>
        }

        <span>
            @*@Html.ValueFor(x => x.GeneratedName) </br>*@
        </span>
    </center>
  
   
</body>
</html>
