
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Hello World! (from view)
        <p>
            <center>
                This is a name generator for fantasy characters! <br />
                Just enter what your character is like and we'll generate an appropriate name!
            </center>
        </p>
    </div>
</body>
</html>
